src/python_nmea/__pycache__/__init__.cpython-311.pyc
src/python_nmea/__pycache__/config.cpython-311.pyc
src/python_nmea/__pycache__/nmea.cpython-311.pyc
bin/nmea.exe
.vscode/settings.json
.vscode/tasks.json
debug
visual_studio_projects/CS_nmea_project/.vs/CS_nmea_project/FileContentIndex/0e9f9a6e-9022-4998-b5cb-5fe5e8ae01ff.vsidx
visual_studio_projects/CS_nmea_project/.vs/CS_nmea_project/FileContentIndex/5a08ccc9-8bb3-486e-96c1-84360fd89232.vsidx
visual_studio_projects/CS_nmea_project/.vs/CS_nmea_project/FileContentIndex/5be067af-9d65-433f-9249-5bd3ffc62c45.vsidx
visual_studio_projects/CS_nmea_project/.vs/CS_nmea_project/FileContentIndex/05704d8c-6760-4a72-a98c-7cd2992db190.vsidx
visual_studio_projects/CS_nmea_project/.vs/CS_nmea_project/FileContentIndex/bc8e0f9b-522b-4cf1-a2d7-f5449749f8d6.vsidx
visual_studio_projects/CS_nmea_project/.vs/CS_nmea_project/v17/.suo
